
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1495702978445'); /* IE9*/
  src: url('iconfont.eot?t=1495702978445#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1495702978445') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1495702978445') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1495702978445#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weibo:before { content: "\e600"; }

.icon-guanbifuzhi:before { content: "\e633"; }

.icon-tubiao06:before { content: "\e692"; }

.icon-iconziti09:before { content: "\e612"; }

.icon-github:before { content: "\e6ed"; }

.icon-jinggao:before { content: "\e602"; }

.icon-tishi:before { content: "\e63b"; }

.icon-chenggong:before { content: "\e629"; }

.icon-chenggong1:before { content: "\e606"; }

.icon-weixin:before { content: "\e68b"; }

.icon-info:before { content: "\e64e"; }

.icon-iconfont-edu12:before { content: "\e647"; }

.icon-chenggong2:before { content: "\e7bf"; }

.icon-min:before { content: "\e603"; }

.icon-gongju:before { content: "\e614"; }

.icon-qt0402x:before { content: "\e646"; }

.icon-jinggao1:before { content: "\e636"; }

.icon-PC-max:before { content: "\e622"; }

.icon-shibai:before { content: "\e609"; }

.icon-tools:before { content: "\e601"; }

.icon-feiyong:before { content: "\e6f4"; }

